@using QLBanHang_ASP.Net.Models;
@model IEnumerable<GioHang>
@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["TaiKhoan"] == null || Session["TaiKhoan"] == "")
{
    <h2>Vui lòng đăng nhập</h2>
}
else
if (Model == null)
{
    <h1> Giỏ hàng rổng</h1>
}
else
{
    <table class="table">
        <tr>
           
            <td>Mã Sản Phẩm</td>
            <td>Tên Sản phẩm</td>
            <td>Hình ảnh</td>
            <td>Đơn giá</td>
            <td>Số lượng</td>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.MaSP</td>
                @{ IEnumerable<SanPham> lstSP = (IEnumerable<SanPham>)ViewBag.SP;}
                @foreach (var sp in lstSP)
                {
                    if (item.MaSP == sp.MaSP)
                    {
                        <td>@sp.TenSP</td>
                        <td><img src="@Url.Content("~/Content/HinhAnhSP/"+sp.HinhAnh)" width="50" height="50" /></td>
                        <td>@sp.DonGia</td>
                    }
                }
                <td>@item.SoLuong</td>

                <td>
                    @Html.ActionLink("Sửa", "SuaGioHang", new { @MaSP = item.MaSP })
                    @Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP = item.MaSP })
                </td>
            </tr>
        }
    </table>

    using (Html.BeginForm("DatHang", "Cart"))
    {

        <div class="divDatHang" style="text-align:right;">
            <input type="submit" value="Đặt hàng" id="btnDatHang" />
            @Html.ActionLink("Mua tiếp", "Index", "Home")
        </div>
    }

}

