@using QLBanHang_ASP.Net.Models;
@model IEnumerable<SanPham>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
   
   
    <div class="new_arrivals_agile_w3ls_info">
        <div class="container">
            <h3 class="wthree_text_info">Sản phẩm <span>mới</span></h3>
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li> Nam</li>
                    <li> Nữ</li>
                    <li> Ba lô</li>
                    <li> Dép</li>
                </ul>
                <div class="resp-tabs-container">
                    <!--/tab_one-->
                    <div class="tab1">
                        @{ int i = 0;}
                        @foreach (var item in Model.Where(n => n.GioiTinh == "Nam"))
                        {
                            if (i < 12)
                            {
                                <div class="col-md-3 product-men">
                                    <div class="men-pro-item simpleCart_shelfItem">
                                        <div class="men-thumb-item">
                                            <img src="~/Content/HinhAnhSP/@item.HinhAnh" alt="" class="pro-image-front" style="height:245.39px;">
                                            <img src="~/Content/HinhAnhSP/@item.HinhAnh" alt="" class="pro-image-back" style="height:245.39px;">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="@Url.Action("CTSanPham","SanPham", new { @MaSP=item.MaSP, @MaLoai=item.Maloai})" class="link-product-add-cart">Quick View</a>
                                                </div>
                                            </div>
                                            

                                        </div>
                                        <div class="item-info-product ">
                                            <h4><a href="single.html">@item.TenSP</a></h4>
                                            <div class="info-product-price">
                                                <span class="item_price">$45.99</span>
                                                <del>@item.DonGia</del>
                                            </div>
                                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                                <a href="@Url.Action("CTSanPham","SanPham", new { @MaSP=item.MaSP, @MaLoai=item.Maloai})" class="item_add"><input type="submit" name="submit" value="Add to cart" class="button"></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                            i++;
                        }

                        <div class="clearfix"></div>

                    </div>

                   
                    <!--//tab_one-->
                    <!--/tab_two-->
                    <div class="tab2">

                        @{ int kt = 0;}
                        @foreach (var item in Model.Where(n => n.GioiTinh == "Nữ"))
                        {
                            if (kt < 12)
                            {
                                <div class="col-md-3 product-men">
                                    <div class="men-pro-item simpleCart_shelfItem">
                                        <div class="men-thumb-item">
                                            <img src="~/Content/HinhAnhSP/@item.HinhAnh" alt="" class="pro-image-front" style="height:245.39px;">
                                            <img src="~/Content/HinhAnhSP/@item.HinhAnh" alt="" class="pro-image-back" style="height:245.39px;">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="@Url.Action("CTSanPham","SanPham", new { @MaSP=item.MaSP, @MaLoai=item.Maloai})" class="link-product-add-cart">Quick View</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="item-info-product ">
                                            <h4><a href="single.html">@item.TenSP</a></h4>
                                            <div class="info-product-price">
                                                <span class="item_price">$45.99</span>
                                                <del>@item.DonGia</del>
                                            </div>
                                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                                <form action="#" method="post">
                                                    <fieldset>
                                                        <input type="hidden" name="cmd" value="_cart" />
                                                        <input type="hidden" name="add" value="1" />
                                                        <input type="hidden" name="business" value=" " />
                                                        <input type="hidden" name="item_name" value="Formal Blue Shirt" />
                                                        <input type="hidden" name="amount" value="30.99" />
                                                        <input type="hidden" name="discount_amount" value="1.00" />
                                                        <input type="hidden" name="currency_code" value="USD" />
                                                        <input type="hidden" name="return" value=" " />
                                                        <input type="hidden" name="cancel_return" value=" " />
                                                        <input type="submit" name="submit" value="Add to cart" class="button" />
                                                    </fieldset>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                            kt++;
                        }

                        <div class="clearfix"></div>
                    </div>
                    <!--//tab_two-->
                    <div class="tab3">
                        @{ int kttui = 0;}
                        @foreach (var item in Model.Where(n => n.Maloai== "ML06102021154705"))
                        {
                            if (kttui < 12)
                            {
                                <div class="col-md-3 product-men">
                                    <div class="men-pro-item simpleCart_shelfItem">
                                        <div class="men-thumb-item">
                                            <img src="~/Content/HinhAnhSP/@item.HinhAnh" alt="" class="pro-image-front" style="height:245.39px;">
                                            <img src="~/Content/HinhAnhSP/@item.HinhAnh" alt="" class="pro-image-back" style="height:245.39px;">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="@Url.Action("CTSanPham","SanPham", new { @MaSP=item.MaSP, @MaLoai=item.Maloai})" class="link-product-add-cart">Quick View</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="item-info-product ">
                                            <h4><a href="single.html">@item.TenSP</a></h4>
                                            <div class="info-product-price">
                                                <span class="item_price">$45.99</span>
                                                <del>@item.DonGia</del>
                                            </div>
                                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                             
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                            kttui++;
                        }

                        <div class="clearfix"></div>
                    </div>
                    <div class="tab4">
                         @{ int ktdep = 0;}
                        @foreach (var item in Model.Where(n => n.Maloai == "ML06102021154702"))
                        {
                            if (ktdep < 12)
                            {
                                <div class="col-md-3 product-men">
                                    <div class="men-pro-item simpleCart_shelfItem">
                                        <div class="men-thumb-item">
                                            <img src="~/Content/HinhAnhSP/@item.HinhAnh" alt="" class="pro-image-front" style="height:245.39px;">
                                            <img src="~/Content/HinhAnhSP/@item.HinhAnh" alt="" class="pro-image-back" style="height:245.39px;">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="@Url.Action("CTSanPham","SanPham", new { @MaSP=item.MaSP, @MaLoai=item.Maloai})" class="link-product-add-cart">Quick View</a>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div class="item-info-product ">
                                            <h4><a href="single.html">@item.TenSP</a></h4>
                                            <div class="info-product-price">
                                                <span class="item_price">$45.99</span>
                                                <del>@item.DonGia</del>
                                            </div>
                                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                                <form action="#" method="post">
                                                    <fieldset>
                                                        <input type="hidden" name="cmd" value="_cart" />
                                                        <input type="hidden" name="add" value="1" />
                                                        <input type="hidden" name="business" value=" " />
                                                        <input type="hidden" name="item_name" value="Formal Blue Shirt" />
                                                        <input type="hidden" name="amount" value="30.99" />
                                                        <input type="hidden" name="discount_amount" value="1.00" />
                                                        <input type="hidden" name="currency_code" value="USD" />
                                                        <input type="hidden" name="return" value=" " />
                                                        <input type="hidden" name="cancel_return" value=" " />
                                                        <input type="submit" name="submit" value="Add to cart" class="button" />
                                                    </fieldset>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                            ktdep++;
                        }

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <script src="~/Content/js/modernizr.custom.js"></script>
    <!-- Custom-JavaScript-File-Links -->
    <!-- cart-js -->
    <script src="~/Content/js/minicart.min.js"></script>
    <script>
        // Mini Cart
        paypal.minicart.render({
            action: '#'
        });

        if (~window.location.search.indexOf('reset=true')) {
            paypal.minicart.reset();
        }
    </script>

    <!-- //cart-js -->
    <!-- script for responsive tabs -->
    <script src="~/Content/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!-- //script for responsive tabs -->
    <!-- stats -->
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.easing.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
</body>