@using QLBanHang_ASP.Net.Models
@model IEnumerable<SanPham>

<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="navbar-collapse menu--shylock collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 0px;">
                        <ul class="nav navbar-nav menu__list">
                            <li class="active menu__item menu__item--current"><a class="menu__link" href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a></li>

                            <li class=" menu__item"><a class="menu__link" href="@Url.Action("SanPham","SanPham", new { @Ma="Nam"})">Nam</a></li>
                            <li class=" menu__item"><a class="menu__link" href="@Url.Action("SanPham","SanPham", new { @Ma="Nữ"})">Nữ</a></li>
                            <li class=" menu__item"><a class="menu__link" href="@Url.Action("Index", "Home")">Thông tin</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        @Html.Action("GioHangPartial", "Cart")
        <div class="clearfix"></div>
    </div>
</div>
