@using QLBanHang_ASP.Net.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<SanPham>
@{

    ViewBag.Title = "SPLoai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <!-- header -->
    <!-- banner-bootom-w3-agileits -->
    <div class="banner-bootom-w3-agileits">
        <div class="container">
            <!-- mens -->

            <div class="col-md-4 products-left">

                @Html.Action("MenuSanPham", "SanPham")

                <div class="clearfix"></div>
            </div>
            <div class="col-md-8 products-right">
                @foreach (var groupby in Model.GroupBy(n => n.LoaiSanPham))
                {
                    <h5>Product <span>@groupby.Key.TenLoai</span></h5>
                }

                <div class="sort-grid">
                    <div class="sorting">
                        <h6>Sort By</h6>
                        <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                            <option value="null">Default</option>
                            <option value="null">Name(A - Z)</option>
                            <option value="null">Name(Z - A)</option>
                            <option value="null">Price(High - Low)</option>
                            <option value="null">Price(Low - High)</option>
                            <option value="null">Model(A - Z)</option>
                            <option value="null">Model(Z - A)</option>
                        </select>
                        <div class="clearfix"></div>
                    </div>
                    <div class="sorting">
                        <h6>Showing</h6>
                        <select id="country2" onchange="change_country(this.value)" class="frm-field required sect">
                            <option value="null">7</option>
                            <option value="null">14</option>
                            <option value="null">28</option>
                            <option value="null">35</option>
                        </select>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                @{ int i = 0;}
                @foreach (var item in Model)
                {
                    if (i < 3)
                    {
                        <div class="col-md-4 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img src="~/Content/HinhAnhSP/@item.HinhAnh" alt="" class="pro-image-front" style="height:245.39px;">
                                    <img src="~/Content/HinhAnhSP/@item.HinhAnh" alt="" class="pro-image-back" style="height:245.39px;">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    @if (item.moi == "1")
                                    {
                                        <span class="product-new-top">New</span>
                                    }
                                </div>
                                <div class="item-info-product ">
                                    <h4><a href="single.html">@item.TenSP</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">$260.99</span>
                                        <del>$@item.DonGia</del>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                        <form action="#" method="post">
                                            <fieldset>
                                                <input type="hidden" name="cmd" value="_cart">
                                                <input type="hidden" name="add" value="1">
                                                <input type="hidden" name="business" value=" ">
                                                <input type="hidden" name="item_name" value="Party Men's Blazer">
                                                <input type="hidden" name="amount" value="30.99">
                                                <input type="hidden" name="discount_amount" value="1.00">
                                                <input type="hidden" name="currency_code" value="USD">
                                                <input type="hidden" name="return" value=" ">
                                                <input type="hidden" name="cancel_return" value=" ">
                                                <input type="submit" name="submit" value="Add to cart" class="button">
                                            </fieldset>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    i++;
                }
                <div class="clearfix"></div>

            </div>
            <div class="clearfix"></div>
            <div class="single-pro">
                @{ int kt = 0;}
                @foreach (var item in Model)
                {
                    if (kt > 2)
                    {
                        <div class="col-md-3 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img src="~/Content/HinhAnhSP/@item.HinhAnh" alt="" class="pro-image-front" style="height:245.39px;">
                                    <img src="~/Content/HinhAnhSP/@item.HinhAnh" alt="" class="pro-image-back" style="height:245.39px;">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    @if (item.moi == "1")
                                    {
                                        <span class="product-new-top">New</span>
                                    }
                                </div>
                                <div class="item-info-product ">
                                    <h4><a href="single.html">@item.TenSP</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">$45.99</span>
                                        <del>$@item.DonGia</del>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                        <form action="#" method="post">
                                            <fieldset>
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="business" value=" " />
                                                <input type="hidden" name="item_name" value="Formal Blue Shirt" />
                                                <input type="hidden" name="amount" value="30.99" />
                                                <input type="hidden" name="discount_amount" value="1.00" />
                                                <input type="hidden" name="currency_code" value="USD" />
                                                <input type="hidden" name="return" value=" " />
                                                <input type="hidden" name="cancel_return" value=" " />
                                                <input type="submit" name="submit" value="Add to cart" class="button" />
                                            </fieldset>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    kt++;
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="dlink">
        Trang @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page, @Ma = ViewBag.Ma }))
    </div>
    <style>
        .dlink {
            text-align: center;
        }
    </style>
    <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    <script src="~/Content/js/modernizr.custom.js"></script>
    <!-- Custom-JavaScript-File-Links -->
    <!-- cart-js -->
    <script src="~/Content/js/minicart.min.js"></script>
    <script>
        // Mini Cart
        paypal.minicart.render({
            action: '#'
        });

        if (~window.location.search.indexOf('reset=true')) {
            paypal.minicart.reset();
        }
    </script>

    <!-- //cart-js -->
    <!---->
    <script type='text/javascript'>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [1000, 7000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        });//]]>

    </script>
    <script type="text/javascript" src="~/Content/js/jquery-ui.js"></script>
    <!---->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.easing.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
</body>


